@model OdaUpdateDTO

<div class="card">
    <div class="card-header">
        <h3>@Model.OdaNo </h3>
         <div class="card-header">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        </div>
    </div>
    <div class="card-body">
        <form asp-action="Update" asp-controller="Oda" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" >
        <div class="input-group mb-3">
                    <input type="number" asp-for="OdaNo"  class="form-control" placeholder="OdaNo">
                    <div class="input-group-append">
                        <div class="input-group-text">
                           <h3>Oda NO    </h3>    <span class="fas fa-envelope text-danger" asp-validation-for="OdaNo"></span>
                        </div>
                    </div>
        </div>
        <div class="input-group mb-3">
                    <input type="text" asp-for="KisiSayisi"  class="form-control" placeholder="Kisi Sayisi">
                    <div class="input-group-append">
                        <div class="input-group-text">
                        <h3>Oda NO    </h3>  <span class="fas fa-envelope text-danger" asp-validation-for="KisiSayisi"></span>
                        </div>
                    </div>
         <div class="input-group mb-3">
                      <input type="text" asp-for="Durum" class="form-control" placeholder="Durum ">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <h3>Oda NO    </h3>  <span class="fas fa-envelope text-danger" asp-validation-for="Durum"></span>
                        </div>
           </div>
       
        <button type="submit"   class="btn btn-primary" value="Kaydet">Kaydet</button>
    </form>
   </div>
</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>